body{
    margin: 0;
    padding: 0;
    font-family:r;
    
}
$head1-color: white;
$img-size:100px;
$red-color:#ff5d5d;
@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
  }

h1{
    font-weight: bold;
}
h2{
    font-size: 33px;
    font-weight:700;
}


li{
    list-style: none;
    text-decoration: none;
    padding-right: 15px;
}
li a{
    color: white;
}

%botton{
    width: 150px;
    border: 1px solid $red-color;
    padding: 10px;
    font-size: 18px;
    color: white;
}



// head 1 start
#header1{
    background-color: black;
}
.head{
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    
}
.head_left{
    color: $head1-color;
}
.head_left p{
    margin: 0 !important;
}
.fa-phone-volume{
    @include transform(rotate(-45deg));
   
}
.head_right ul{
    display: flex;
    margin: 0 !important;
}
.head_right ul li{
    padding-left: 15px;
    text-align: left;
    
}
// head1 stop

.navbar{
    background:$red-color ;
}
.nav-item{
    padding-left: 15px;
}
.nav-item a{
    color: $head1-color !important;
    font-weight: 700;
}
.logo{
    max-width: $img-size;
}

// banner area

#banner{
    background-image: url(../image/banner_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
    padding: 115px 0;
}
#banner::before{
    background-color: rgb(66, 196, 222);
}
.banner{
    color: $head1-color;
    max-width: 43%;
    margin: 0 auto;
    text-align: center;

}
.banner1{
    padding: 30px 0;
    background-color: rgb(8, 31, 45,.7);
}

.banner1 h1{
    font-size: 36px;
    line-height: 60px;
}
.banner1 p{
    font-size: 18px;
    line-height: 60px;
}
.banner2{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
}
.btn:focus{
    box-shadow: none;
}
.button1 {
    @extend %botton;
    background-color: $red-color ;
    
   }
.button2 {
    @extend %botton;
    background-color: transparent;
   }
.button2:hover{
    color: white;
   }

//    about area
#about{
    padding: 40px 0;
}
.about1{
    padding: 37px 0;
    width: 80%;
    height: 500px;
    background-color: rgb(60, 72, 88);
}
.image1{
    max-width: 100%;
    margin-left: 60px;
}

.text{
    padding: 0px 20px; 
    @include transform(translateY(30%));
    
}   
.button3{
    @extend %botton;
    background-color: $red-color;
    margin: 15px 0;
}
// services area
#service{
    padding: 20px 0 40px 0;
}
.ser_text_1{
    padding: 10px 0; 
}
.text_2{
    border-top: 3px solid $red-color;
    width: 200px;
    margin: 0 auto;
}
.service2{
    text-align: center;
    padding: 30px 0 15px 0;
}
.service2 p{
    word-break: keep-all;
    padding: 10px 0;
}

.circle{
    margin: 15px auto;
    background-color: rgb(60, 72, 88);
    width: 100px;
    height: 100px;
    border-radius: 50% ;
    text-align: center;
    padding: 20px;
}
.button4{
    @extend %botton;
    text-align: center;
    background-color: $red-color;
    margin-left: 50%;
    @include transform(translateX(-50%));
    
}
// client area
#client{
    background-color: rgb(60, 72, 88);
    padding: 30px;
    color: white;
}
.client{
    padding: 30px 0;
}
.img_client{
    width: 100%;
    // text-align: center;
    // padding-left: 10px;
    padding-bottom: 10px;
}
.client_name p{
    color: yellow;
    margin-bottom: 0px !important;
}
.client_text h5 {
    padding: 20px 10px;   
}
.link{
    text-align: center;
}
.link a{
    padding:0 20px;
    color: white;
}

// anlysis area

#anlysis{
    padding: 70px 0;
}
.anlysis_text{
    margin-top: 40%;
    @include transform(translateY(-50%));
}
.anlysis_pic{
    height: 392px;
    max-width: 80%;
    padding: 35px 0;
    background-color: rgb(60, 72, 88);
}
.image2{
    max-width: 100%;
    margin-left: -60px;  
}

// contact area

#contact{
    background-image: url(../image/contact_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: auto;
    color: white;
    
}
.layer{
    background-color: rgb(25, 36, 51,.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 0;
}
.ser_text{
    padding-bottom: 20px;
}
.group-item{
    margin: 10px;
    width: 100%;
    padding: 15px 12px;
    border: 1px solid transparent;
    background-color: rgb(239, 242, 247);
}
.group-item:focus{
    outline: 0;
}
.massage{
    margin-bottom: 40px !important;
}

// subscrive area

#subscrive{
    padding: 50px 20px;

}
.sub_text h1{
    font-size: 44px;
    font-weight: bold;
}
.sub_btn{
    display: flex;
    max-width: 500px;
    text-align: center;
    border: 1px solid black;
    margin: 30px auto;
}

.group-item2{
    margin: 0 !important;
    background-color: transparent !important;
    min-width: 70%;

}
.btn5{
    padding: 15px 12px;
    border-radius: 0 !important;
    text-align: center;
    background-color: $red-color;
    min-width: 30%;
}

// footer area

#footer{
    padding: 50px 0;
    background-color: rgb(32, 47, 67);
    color: white;
    border-bottom: 2px solid rgb(81, 92, 108);
}

.fot-link{
    display: flex;
}
.fot-link a{
    color: white;
    padding-right: 20px;
}
.fot2 p{
    margin-bottom: 0px !important;   
}
.fot_img{
    width: 70px;
    height: auto;
}
.fot1, .fot2, .fot3, .fot4, h3{
    margin-bottom: 10px !important;
  }
.footer-2{
    background-color: rgb(32, 47, 67);
    padding: 20px 0;
    color: white;
}

