 
  @media (max-width : 400px){
    .group-item2{
        max-width: 70%;
    
    }
    .sub_text h1 {
        font-size: 25px !important;
        
    }
    
  }


 @media (max-width : 570px){
    h2{
        font-size: 23px;
    }
    h5{
        font-size: 16px;
    }
    h4{
        font-size: 20px;
    }
    
    #banner{
        padding: 115px 0;
    }
    .banner{
        max-width: 100%;  
    }
    .banner1 h1{
        font-size: 36px;
        line-height: 40px;
    }
    .banner1 p{
        font-size: 18px;
        line-height: 40px;
    }

    #about{
        padding: 0px 0;
    }
    .about1{
        padding: 0px 0px;
        width: 100%;
        height: auto;
    }
    .image1{
        max-width: 100%;
        margin-left: 0px;
    }
    .text{
        padding: 5px 15px;
        transform: translateY(0%);
    }   
    .button3{
        @extend %botton;
        background-color: red;
        margin: 15px 0;
    }
    .service2 {
       
        padding: 0px 0 0px 0;
    }
    .ser_text_1 {
        font-size: 30px;
    }
    .client_text h5 {
        padding: 5px 0px;
    }

    #anlysis{
        padding: 20px 0;
    }
    .anlysis_text{
        margin-top: 0%;
        transform: translateY(0%);
        padding: 10px 0;
    }
    .anlysis_pic{
        height: auto;
        max-width: 100%;
        padding: 0px 0;
    }
    .image2{
        margin-left: 0px;  
    }

    .group-item{
        margin: 0 0 10px 0;
    }

    #subscrive{
        padding: 50px 20px;
    
    }
    .sub_text h1{
        font-size: 30px;
        font-weight: bold;
    }
    .sub_btn{
       display: flex;
        max-width: 350px;
       
    }
   

}

@media (min-width : 570px) and (max-width : 767.9px){
    h2{
        font-size: 23px;
    }
    h5{
        font-size: 16px;
    }
    h4{
        font-size: 20px;
    }
    
    #banner{
        padding: 115px 10px;
    }
    .banner{
        max-width: 100%;  
    }
    .banner1 h1{
        font-size: 36px;
        line-height: 40px;
    }
    .banner1 p{
        font-size: 18px;
        line-height: 40px;
    }
    #about{
        padding: 0px 0;
    }
    .about1{
        padding: 40px 0;
        width: 80%;
        height: auto;
        background-color: rgb(60, 72, 88);
        margin: 10px 0;
    }
    .text{
        padding: 0 15px;
        transform: translateY(0%);
    }   

    .client{
        padding: 20px 0;
    }
    .client_text h5 {
        padding: 5px 0px;
    }

    #anlysis{
        padding: 30px 0;
    }
    .anlysis_pic{
        height: auto;
        max-width: 80%;
        padding: 35px 0;
        background-color: rgb(60, 72, 88);
    }
    .anlysis_text{
        margin-top: 0%;
        transform: translateY(0%);
        padding-bottom: 10px;
    }
    .service2 {
        text-align: center;
        padding: 15px 0 15px 0;
    }
    .service2 p{
        word-break: break-all;
        padding: 10px 0;
    }
    .sub_text h1 {
        font-size: 30px;
        font-weight: bold;
    }
    #footer{
        padding: 25px 0;
        
    }
}
@media (min-width : 768px) and (max-width : 991px){
    h2{
        font-size: 20px;
    }
    h5{
        font-size: 16px;
    }
    h4{
        font-size: 20px;
    }
    #banner{
        padding: 115px 10px;
    }
    .banner{
        max-width: 100%;  
    }
    .about1{
        padding: 40px 0;
        width: 80%;
        height: auto;
        background-color: rgb(60, 72, 88);
    }
    .text{
        padding: 0 20px;
        transform: translateY(0%);
    } 
    .fas{
        font-size: 15px;
    }
    .client_text h5 {
        padding: 0px 0px;
        font-size: 15px !important;
    }
    .link a{
        padding:0 10px;
        
    } 
    #anlysis{
        padding: 30px 0 0 0;
    }
    .anlysis_pic{
        height: auto;
        max-width: 80%;
        padding: 35px 0;
        background-color: rgb(60, 72, 88);
    }
    .anlysis_text{
        margin-top: 40%;
        transform: translateY(-50%);
    }
    .anlysis_text h2{
        font-size: 21px;
        padding-bottom: 5px;
    }
    .sub_text h1 {
        font-size: 38px;   
    }
    .service2 p{
        word-break: break-all;
        padding: 10px 0;
    }
    #footer{
        padding: 30px 0;  
    }
    .footer-2 {
        padding: 13px 0;
    }
}
@media (min-width : 992px) and (max-width : 1280px){
    h2{
        font-size: 28px;
    }
    h5{
        font-size: 20px;
    }
    h4{
        font-size: 23px;
    }
    .nav-item {
        padding-left: 0px;
    }
    #banner{
        padding: 115px 20px;
    }
    .banner{
        max-width: 100%;  
    }
    .about1{
        padding: 40px 0;
        width: 80%;
        height: auto;
        background-color: rgb(60, 72, 88);
    }
    .text{
        padding: 0 20px;
        transform: translateY(0%);
    } 
    .service2 {
        text-align: center;
        padding: 15px 0 10px 0;
    }
    .client_name h4{
        font-size: 20px;
    }
    .client_text h5 {
        padding: 5px 5px;
        font-size: 19px;
    }
    #anlysis{
        padding: 30px 0 30px 0;
    }
    .anlysis_pic{
        height: auto;
        max-width: 80%;
        padding: 35px 0;
        background-color: rgb(60, 72, 88);
    }
    .anlysis_text{
        margin-top: 40%;
        transform: translateY(-50%);
    }
    .anlysis_text h2{
        font-size: 28px;
        padding-bottom: 10px;
    }
    #footer{
        padding: 25px 0;  
    }
    .footer-2 {
        padding: 16px 0;
    }
}
@media (min-width : 1281px) and (max-width : 1480px){
    .text {
        padding: 20px 20px;
        transform: translateY(0%);
    }
    .about1{
        padding: 40px 0;
        width: 80%;
        height: auto;
        background-color: rgb(60, 72, 88);
    }
}
@media (min-width : 1481px) and (max-width : 1700px){
    .text {
        padding: 40px 20px;
        transform: translateY(0%);
    }
    .about1{
        padding: 40px 0;
        width: 80%;
        height: auto;
        background-color: rgb(60, 72, 88);
    }
}
